<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録情報確認</title>
</head>
<body th:object="${mocup1FormBean}">
	<h1>登録情報確認</h1>
	<table>
		<tr>
			<td>メールアドレス</td>
			<td th:text="*{mail}"></td>
		</tr>
		<tr>
			<td>パスワード</td>
			<td th:text="*{passWord}"></td>
		</tr>
		<tr>
			<td>名前</td>
			<td th:text="*{name}"></td>
		</tr>
	</table>
	<a th:href="@{/new/}">戻る</a>
</body>
</html>